#weather--today-icon i {
  font-size: 65pt;
  color: orange;
}

#weather--today-temperature {
  font-size: 65pt;
}

#weather--today-details i {
  font-size: 30pt;
  display: block;
  color: tomato;
}
